{{ define "main" }}
<div class="dbgi-page">
  {{ partial "home/hero.html" . }}
  {{ partial "home/status-band.html" . }}
  {{ partial "home/focus.html" . }}
  {{ partial "home/coverage-gauge.html" . }}
  {{ partial "home/network-teaser.html" . }}
  {{ partial "home/observation-teaser.html" . }}
  {{ partial "home/collectors-strip.html" . }}
  {{ partial "home/news-teaser.html" . }}
</div>
<script src="/js/counters.js"></script>
<script src="/js/coverage-bars.js"></script>
<script src="/js/workflow-reveal.js"></script>
{{ end }}
